* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1080px; 
	margin: 0 auto
}

header {
  background-color: #1F2937;
}

header .container {
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
}

header img {
  width: 60px;
}

header ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
}

header a {
  text-decoration: none;
  color: #E5E7EB;
}